body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn {
    border: none;
    margin: 20px;
    padding: 24px;
    width: 220px;
    font-family: sans-serif;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.5s;
}


.btn-1 {
    background-image: linear-gradient(to left, #ffc312, #ee5a24, #ffc312);
}
.btn-2 {
    background-image: linear-gradient(to left, #c4e538, #009432, #c4e538);
}
.btn-3 {
    background-image: linear-gradient(to left, #12cbc4, #0652dd, #12cbc4);
}
.btn-4 {
    background-image: linear-gradient(to left, #fda7df, #9980fa, #fda7df);
}
.btn:hover {
    background-position: right;
}